---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Nairobi's Trusted Car Key Heroes</h1>
			<p>
				You can be driving on any road in Nairobi and its environs, then you accidentally lose your keys, your car door locks you out, or your ignition grinds to a halt.  
			</p>
			<p>
				But what if there's a guide ready to transform your crisis into triumph?
			</p>
			<p>At Nairobi Car Key Replacement Locks, we are your automotive ally in Nairobi.	
			</p>
			<p>We're experienced locksmiths with over a decade of expertise helping car owners solve several car key issues.</p>
			<p>Here are the services we offer: </p>	
			<ul>
				<li>Car Key Replacements: Lost your keys? We craft precise replacements for all makes and models, from Toyota to Mercedes, using advanced laser-cutting technology.
				<li>Car Key Duplication and Spare Keys: Prevent future quests by duplicating your keys on-site. We make spares that match originals.</li> 
				<li>Emergency Lockout Services: Our 24/7 rapid response unlocks doors without damage, day or night.</li> 
				<li>Ignition and Door Lock Repair: We diagnose and repair faulty ignition or jammed doors with precision.</li>
				<li>Car Key Programming: We program modern keys expertly, syncing with your vehicle's security system.</li>
				<li>Electronic Control Unit (ECU) Repair: When tech fails, our specialists reprogram or fix ECUs, tackling complex electronic issues.</li>
			</ul>
			<p>
				Give us a call today through 0797466737 to get a quote for the service you need in Nairobi. 
			</p>
			<p>
				Our mobile team will arrive swiftly with the tools to assist you in getting back on the road without waiting for hours.
			</p>
			<p>
				We offer unmatched reliability, competitive pricing and a satisfaction guarantee, whether you want to reprogram your ECU or duplicate a high-security key. 
			</p>
			<p>
				So, call 0797466747 and join hundreds of Nairobians who've replaced their keys with us and used our core services.
			</p>
		</main>
		<Footer />
	</body>
</html>
